@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

body {
  background-color: #f5f5dc;
}

header {
  text-align: center;
  font-family: 'League Spartan', sans-serif;
  font-size: 150%;
  margin-top: 80px;
  margin-bottom: 15px;
  color: #9A7B4F;
}

li {
  list-style-type: none;
  display: inline;
  text-align: center;
}


